$primary-color: hsl(245, 75%, 52%);
$secondary-color: hsl(225, 100%, 98%);

$background-secondary: hsl(225, 100%, 94%);
$text-color: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);


$font-family: 'Red Hat Display', sans-serif;
$font-size: 16px;
$white-text-color: hsl(0, 0%, 100%);

$border-radius: 15px;
$time-transition: 0.3s;

$general-margins-web: 28px 47px;
$general-margins-app: 28px 23px;