$primary-color: hsl(215, 51%, 70%);
$secondary-color: hsl(178, 100%, 50%);
$white-color: hsl(0, 0%, 100%);

$font-family: "Outfit";
$font-size: 18px;
$text-color: hsl(0, 0%, 100%);

$backgrond-body-color: hsl(217, 54%, 11%);
$background-card-color: hsl(216, 50%, 16%);

$separator-color: hsl(215, 32%, 27%);
$radius-corner: 15px;